<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ .Title }} &ndash; {{ .Site.Params.title }}</title>
  {{ $style := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
  {{ $lity := resources.Get "css/lity.css" | minify | fingerprint }}
  <link href="{{ $lity.RelPermalink }}" rel="stylesheet">
</head>

<body>

  {{ partial "inline-svg.html" . }}

  {{ partial "header.html" . }}

  <main>

    <section class="employers-hero light">
      <div class="container">
        <div class="row">
          <div class="col col-sm-8 col-md-4 offset-md-1">
            <h1>{{ $.Param "content.sections.hero.headline" }}</h1>
            <p class="lead">{{ $.Param "content.sections.hero.subhead" }}</p>
            <a href="{{ $.Param "content.sections.hero.cta_main.url" }}" class="mydoc-btn primary">{{ $.Param "content.sections.hero.cta_main.label" }}</a>
            <a href="{{ $.Param "content.sections.hero.cta_sub.url" }}" class="mydoc-btn link">{{ $.Param "content.sections.hero.cta_sub.label" }}</a>
          </div>
        </div>
      </div>
    </section>

    <section class="logo-soup">
      <div class="container">
        <p>{{ $.Param "content.sections.logo_soup.headline" }}</p>
        <div class="logos">
          <img class="logo" src="/svg/logos/logo-google.svg" alt="Google logo">
          <img class="logo" src="/svg/logos/logo-facebook.svg" alt="Facebook logo">
          <img class="logo" src="/svg/logos/logo-bloomberg.svg" alt="Bloomberg logo">
          <img class="logo" src="/svg/logos/logo-db-schenker.svg" alt="DB Schenker logo">
          <img class="logo" src="/svg/logos/logo-deutsche-bank.svg" alt="Deutsche Bank logo">
          <img class="logo" src="/svg/logos/logo-bbc.svg" alt="BBC Worldwide logo">
          <img class="logo" src="/svg/logos/logo-ust.svg" alt="UST Global logo">
          <img class="logo" src="/svg/logos/logo-riotinto.svg" alt="Rio Tinto logo">
          <img class="logo" src="/svg/logos/logo-regent.svg" alt="Regent Hotels & Resorts logo">
          <img class="logo" src="/svg/logos/logo-mbs.svg" alt="Marina Bay Sands logo">
          <img class="logo" src="/svg/logos/logo-disney.svg" alt="Disney logo">
          <img class="logo" src="/svg/logos/logo-cis.svg" alt="Canadian International School logo">
          <img class="logo" src="/svg/logos/logo-novartis.svg" alt="Novartis logo">
        </div>
      </div>
    </section>

    <section class="key-benefits light">
      <div class="container">
        <h2>{{ $.Param "content.sections.key_benefits.headline" }}</h2>
        <p>{{ $.Param "content.sections.key_benefits.subhead" }}</p>
        <div class="row row-stretched">
          {{ range $index, $benefit := $.Param "content.sections.key_benefits.benefits" }}
          <div class="col col-sm-6 col-md-5">
            <div class="feature-icon">
              <svg viewBox="0 0 32 32">
                <use xlink:href="#{{ $benefit.icon }}"></use>
              </svg>
            </div>
            <h3>{{ $benefit.headline }}</h3>
            <p>{{ $benefit.body }}</p>
          </div>
          {{ if modBool (add $index 1) 2 }}<div class="break"></div>{{ end }}
          {{ end }}
        </div>
      </div>
    </section>

    <section class="plans">
      <div class="container">
        <h2>{{ $.Param "content.sections.plans.headline" }}</h2>
        <p>{{ $.Param "content.sections.plans.subhead" }}</p>
        <div class="row">
          {{ range $plan := $.Param "content.sections.plans.plans" }}
          <div class="col col-md-6 col-lg-4">
            <div class="mydoc-card">
              <h3>{{ $plan.name }}</h3>
              <p>{{ $plan.description }}</p>
              <ul class="plan-features">
                {{ range $feature := $plan.features }}
                <li>{{ $feature | safeHTML }}</li>
                {{ end }}
              </ul>
              <div class="plan-cta">
                <a href="{{ $plan.cta.url }}" class="mydoc-btn primary">{{ $plan.cta.label }}</a>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </section>

    <section class="guardian light">
      <div class="container">
        <div class="row">
          <div class="logo col col-md-5 offset-md-1">
            <img src="/svg/guardian-logo.svg" alt="Guardian logo">
          </div>
          <div class="col col-md-5">
            <h2>{{ $.Param "content.sections.guardian.headline" }}</h2>
            <p class="lead">{{ $.Param "content.sections.guardian.subhead" }}</p>
            <div class="mydoc-media">
              <a class="thumbnail" href="{{ $.Param "content.sections.guardian.video.embed" }}" data-lity>
                <img src="{{ $.Param "content.sections.guardian.video.thumbnail" }}.jpg" srcset="{{ $.Param "content.sections.guardian.video.thumbnail" }}.jpg 1x, {{ $.Param "content.sections.guardian.video.thumbnail" }}@2x.jpg 2x, {{ $.Param "content.sections.guardian.video.thumbnail" }}@3x.jpg 3x">
                <div class="mydoc-media-play">
                  <svg viewBox="0 0 32 32">
                    <use xlink:href="#icon-play"></use>
                  </svg>
                </div>
              </a>
              <span class="label">{{ $.Param "content.sections.guardian.video.label" }}</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="virtual-consults">
      <div class="container">
        <h2>{{ $.Param "content.sections.virtual_consults.headline" }}</h2>
        <p class="lead">{{ $.Param "content.sections.virtual_consults.subhead" }}</p>
        <div class="row row-stretched">
          {{ range $index, $feature := $.Param "content.sections.virtual_consults.features" }}
          <div class="col col-sm-6 col-md-4 col-lg-3">
            <div class="feature-icon">
              <svg viewBox="0 0 32 32">
                <use xlink:href="#{{ $feature.icon }}"></use>
              </svg>
            </div>
            <h3>{{ $feature.headline }}</h3>
            <p>{{ $feature.body }}</p>
          </div>
          {{ if modBool (add $index 1) 3 }}<div class="break"></div>{{ end }}
          {{ end }}
        </div>
      </div>
    </section>

    <section class="health-screening">
      <div class="container">
        <h2>{{ $.Param "content.sections.health_screening.headline" }}</h2>
        <p class="lead">{{ $.Param "content.sections.health_screening.subhead" }}</p>
      </div>
    </section>

    <section class="cdm">
      <div class="container">
        <h2>{{ $.Param "content.sections.cdm.headline" }}</h2>
        <p class="lead">{{ $.Param "content.sections.cdm.subhead" }}</p>
      </div>
    </section>

    <section class="cta light ">
      <div class="container">
        <h3>{{ $.Param "content.sections.cta.headline" }}</h3>
        <a href="{{ $.Param "content.sections.cta.btn.url" }}" class="mydoc-btn primary">{{ $.Param "content.sections.cta.btn.label" }}</a>
      </div>
    </section>

    <section class="budget light">
      <div class="container">
        <div class="row">
          <div class="col col-md-5 offset-md-1">
            <h2>{{ $.Param "content.sections.budget.headline" }}</h2>
            <p class="lead">{{ $.Param "content.sections.budget.subhead" }}</p>
            <form class="mydoc-form" id="budget-calculator" action="https://www.enformed.io/s2mazkc" method="POST">
              <div class="mydoc-form-group">
                <label for="employees_num">Number of employees</label>
                <input type="text" name="employees_num" id="employees_num" placeholder="Enter 40 or more">
              </div>
              <div class="mydoc-form-group">
                <label for="employees_cost">Average annual benefits cost per employee</label>
                <input type="text" name="employees_cost" id="employees_cost" placeholder="Enter 200 or more">
              </div>
              <div class="mydoc-form-validation"></div>
              <input class="mydoc-btn primary" type="submit" value="Calculate">
            </form>
          </div>
          <div class="logo col col-md-5">
            <div class="budget-bill">

            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  {{ partial "footer.html" . }}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  {{ $lity := resources.Get "js/lity.js" }}
  {{ $main := resources.Get "js/main.js" }}
  {{ $js := slice $lity $main | resources.Concat "js/bundle-employers.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" type="text/javascript"></script>
</body>

</html>