<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ .Title }} &ndash; {{ .Site.Params.title }}</title>
  {{ $style := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
</head>

<body>

  {{ partial "inline-svg.html" . }}

  {{ partial "header.html" . }}

  <main>

    <section class="employers-hero light">
      <div class="container">
        <div class="row">
          <div class="col col-sm-8 col-md-4 offset-md-1">
            <h1>{{ $.Param "content.sections.hero.headline" }}</h1>
            <p class="lead">{{ $.Param "content.sections.hero.subhead" }}</p>
            <a href="{{ $.Param "content.sections.hero.cta_main.url" }}" class="mydoc-btn primary">{{ $.Param "content.sections.hero.cta_main.label" }}</a>
            <a href="{{ $.Param "content.sections.hero.cta_sub.url" }}" class="mydoc-btn link">{{ $.Param "content.sections.hero.cta_sub.label" }}</a>
          </div>
        </div>
      </div>
    </section>

    <section class="logo-soup">
      <div class="container">
        <p>{{ $.Param "content.sections.logo_soup.headline" }}</p>
        <div class="logos">
          <img class="logo" src="/svg/logos/logo-google.svg" alt="Google logo">
          <img class="logo" src="/svg/logos/logo-facebook.svg" alt="Facebook logo">
          <img class="logo" src="/svg/logos/logo-bloomberg.svg" alt="Bloomberg logo">
          <img class="logo" src="/svg/logos/logo-db-schenker.svg" alt="DB Schenker logo">
          <img class="logo" src="/svg/logos/logo-deutsche-bank.svg" alt="Deutsche Bank logo">
          <img class="logo" src="/svg/logos/logo-bbc.svg" alt="BBC Worldwide logo">
          <img class="logo" src="/svg/logos/logo-ust.svg" alt="UST Global logo">
          <img class="logo" src="/svg/logos/logo-riotinto.svg" alt="Rio Tinto logo">
          <img class="logo" src="/svg/logos/logo-regent.svg" alt="Regent Hotels & Resorts logo">
          <img class="logo" src="/svg/logos/logo-mbs.svg" alt="Marina Bay Sands logo">
          <img class="logo" src="/svg/logos/logo-disney.svg" alt="Disney logo">
          <img class="logo" src="/svg/logos/logo-cis.svg" alt="Canadian International School logo">
          <img class="logo" src="/svg/logos/logo-novartis.svg" alt="Novartis logo">
        </div>
      </div>
    </section>

    <section class="key-benefits light">
      <div class="container">
        <h2>{{ $.Param "content.sections.key_benefits.headline" }}</h2>
        <p>{{ $.Param "content.sections.key_benefits.subhead" }}</p>
        <div class="row row-stretched">
          {{ range $index, $benefit := $.Param "content.sections.key_benefits.benefits" }}
          <div class="col col-sm-6 col-md-5">
            <div class="feature-icon">
              <svg viewBox="0 0 32 32">
                <use xlink:href="#{{ $benefit.icon }}"></use>
              </svg>
            </div>
            <h3>{{ $benefit.headline }}</h3>
            <p>{{ $benefit.body }}</p>
          </div>
          {{ if modBool (add $index 1) 2 }}<div class="break"></div>{{ end }}
          {{ end }}
        </div>
      </div>
    </section>

    <section class="plans">
      <div class="container">
        <h2>{{ $.Param "content.sections.plans.headline" }}</h2>
        <p>{{ $.Param "content.sections.plans.subhead" }}</p>
        <div class="row">
          {{ range $plan := $.Param "content.sections.plans.plans" }}
          <div class="col col-md-6 col-lg-4">
            <div class="mydoc-card">
              <h3>{{ $plan.name }}</h3>
              <p>{{ $plan.description }}</p>
              <ul class="plan-features">
                {{ range $feature := $plan.features }}
                <li>{{ $feature | safeHTML }}</li>
                {{ end }}
              </ul>
              <div class="plan-cta">
                <a href="{{ $plan.cta.url }}" class="mydoc-btn primary">{{ $plan.cta.label }}</a>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </section>

    <section class="cta light ">
      <div class="container">
        <h3>Ready to give your people MyDoc?</h3>
        <a href="{{ $.Param "content.sections.cta.btn.url" }}" class="mydoc-btn">{{ $.Param "content.sections.cta.btn.label" }}</a>
      </div>
    </section>

  </main>

  {{ partial "footer.html" . }}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  {{ $cycle := resources.Get "js/jquery.cycle2.js" }}
  {{ $cycle_swipe := resources.Get "js/jquery.cycle2.swipe.js" }}
  {{ $main := resources.Get "js/main.js" }}
  {{ $js := slice $cycle $cycle_swipe $main | resources.Concat "js/bundle-all.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" type="text/javascript"></script>
</body>

</html>