//
// General
//

* {
  box-sizing: border-box;
}

body {
  background-color: $color-ui-white;
}


// 
// Sections
// 

main > section {
  padding-top: $section-padding-top;
  padding-bottom: $section-padding-bottom;
  background-color: $section-bg;

  &.light {
    background-color: $section-light-bg;
  }

  @include media(">md") {
    padding-top: $section-padding-top-md;
    padding-bottom: $section-padding-bottom-md;
  }

  .row {
    margin-top: 48px;
  }
}


//
// Hero section
// 

section.hero {
  height: 100vh;
  display: flex;
  background-image: url('/img/hero-bg-wave-home.jpg');
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;

  @include media("<md") {
    padding-top: $section-padding-top + $navbar-height;
  }

  @include media(">md") {
    height: calc(100vh - 244px);
    min-height: 640px;
    align-items: center;
    background-image: url('/img/hero-bg-wave-home@2x.jpg');
    background-size: 60%;
  }

  @include media(">xl") {
    background-image: url('/img/hero-bg-wave-home@3x.jpg');
    background-size: 50%;
  }

  @include media(">ul") {
    background-size: 40%;
  }
}


// 
// Logo soup section
// 

.logo-soup {
  text-align: center;

  p {
    margin-bottom: 32px;
    color: $color-text-dark;
  }

  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    margin-left: 16px;
    margin-right: 16px;
  }
}


// 
// Creating value section
// 

.creating-value {
  .container > {
    h2, p {
      text-align: center;
    }
  }

  .feature-icon {
    margin-bottom: 16px;
  }
}


// 
// One platform section
// 

.one-platform {
  @include media(">md") {
    padding-bottom: 0;
  }

  .container > {
    h2, p {
      text-align: center;
    }
  }

  .mydoc-slider {
    margin-top: 32px;
    position: relative;
  }

  .phone-container {
    position: absolute;
    height: 568px;
    background-image: url('/img/screenshot-phone-container@2x.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }
}


