html {
  font-size:  62.5%;
}

body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
}

a {
  text-decoration: none;
  color: $color-text-action;

  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-weight: $font-weight-bold;
}

//
// Headings
//

h1, .h1 { font-size: $h1-font-size; line-height: $h1-line-height; font-weight: $h1-font-weight; margin-bottom: $h1-margin-bottom; color: $h1-color; }
h2, .h2 { font-size: $h2-font-size; line-height: $h2-line-height; font-weight: $h2-font-weight; margin-bottom: $h2-margin-bottom; color: $h2-color; }
h3, .h3 { font-size: $h3-font-size; line-height: $h3-line-height; font-weight: $h3-font-weight; margin-bottom: $h3-margin-bottom; color: $h3-color; }
h4, .h4 { font-size: $h4-font-size; line-height: $h4-line-height; font-weight: $h4-font-weight; margin-bottom: $h4-margin-bottom; }
h5, .h5 { font-size: $h5-font-size; line-height: $h5-line-height; font-weight: $h5-font-weight; margin-bottom: $h5-margin-bottom; }
h6, .h6 { font-size: $h6-font-size; line-height: $h6-line-height; font-weight: $h6-font-weight; margin-bottom: $h6-margin-bottom; }


//
// Paragraphs
//

.lead {
  font-size: $lead-font-size;
  line-height: $lead-line-height;
  font-weight: $lead-font-weight;
  margin-bottom: $lead-margin-bottom;
}

p, .p {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  margin-bottom: $base-margin-bottom;
}

small, .small {
  font-size: $small-font-size;
  line-height: $small-line-height;
  font-weight: $small-font-weight;
  margin-bottom: $small-margin-bottom;
}


//
// Lists
//

ul, ol {
  margin-bottom: $base-margin-bottom;
  list-style-position: outside;
  padding-left: 2em;

  li {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}