//
// Hero section
// 

section.employers-hero {
  height: 100vh;
  display: flex;
  background-image: url('/img/hero-bg-wave-employers.jpg');
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;

  @include media("<md") {
    padding-top: 0;
  }

  @include media("<md", "landscape") {
    min-height: 272px;
    background-size: 40%;
  }

  @include media(">md") {
    height: calc(100vh - 244px);
    min-height: 640px;
    align-items: center;
    background-image: url('/img/hero-bg-wave-employers@2x.jpg');
    background-size: 60%;
  }

  @include media(">xl") {
    background-image: url('/img/hero-bg-wave-employers@3x.jpg');
    background-size: 50%;
  }

  @include media(">ul") {
    background-size: 35%;
  }
}


// 
// Key reasons section
// 

.key-reasons {
  .container > {
    h2, p {
      text-align: center;
    }
  }

  .feature-icon {
    margin-bottom: 16px;
  }

  .row {
    margin-top: 48px;
  }

  .col {
    margin-bottom: 16px;
  }
}


// 
// Saving time section
// 

.saving-time {
  .container > {
    h2, p {
      text-align: center;
    }
  }

  .container > .row {
    margin-top: 48px;
  }

  .stats {
    margin-bottom: 32px;
  }

  .testimonial {
    margin-bottom: 32px;

    p {
      margin-bottom: 8px;
    }
  }

  .stat-caption {
    margin-left: 24px;
    margin-right: 24px;
  }
}


// 
// Plans section
// 

.plans {
  .container > {
    h2, p {
      text-align: center;
    }
  }

  .row {
    margin-top: 48px;
  }

  .col {
    padding-bottom: 32px;
  }

  .mydoc-card {
    height: 100%;
    position: relative;
    padding-bottom: 96px;

    @include media(">md") {
      margin-left: 24px;
      margin-right: 24px;
    }
  }

  .plan-features {
    color: $color-text-dark;

    li {
      padding-left: 32px;
      margin-bottom: 24px;

      background-image: url('/svg/checkmark.svg');
      background-repeat: no-repeat;
      background-position: 6px 7px;
    }

    strong {
      color: $color-text-darkest;
    }
  }

  .plan-cta {
    position: absolute;
    bottom: 32px;
    left: 0;
    width: 100%;
    text-align: center;
  }
}


// 
// Guardian section
//

.guardian {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 32px;
  }
}


// 
// Virtual consults section
// 

.virtual-consults {
  .container > {
    h2, p {
      text-align: center;
    }
  }

  .feature-icon {
    margin-bottom: 16px;
  }

  .row {
    margin-top: 48px;
  }

  .col {
    margin-bottom: 16px;
  }
}


// 
// Health screening section
// 

.health-screening {
  .container > {
    h2, p {
      text-align: center;
    }
  }
}


// 
// CDM section
// 

.cdm {
  .container > {
    h2, p {
      text-align: center;
    }
  }
}


// 
// Budget section
//

.budget {
  .d-flex-sm {
    justify-content: center;
  }
}

.budget-bill {
  margin-top: 32px;
  border: 0;
  border-image-source: url('/img/bill-bg@2x.png');
  border-image-slice: 160 160 60 40 fill;
  border-image-width: 80px 80px 30px 20px;
  border-image-outset: 0;
  border-image-repeat: stretch stretch;
  padding: 40px 40px;
  min-height: 512px;
  width: 100%;
}