// 
// Cards
//

.mydoc-card {
  display: block;
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;
  padding: $card-padding-vertical $card-padding-horizontal;
  background-color: $card-bg;
}

a.mydoc-card {
  text-decoration: none;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.04);
  }
}