//
// Base style
//

.mydoc-navbar {
  width: 100%;
  position: fixed;
  z-index: $zindex-fixed;
  height: $navbar-height;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: $navbar-font-weight;
  background-color: $navbar-bg;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(">md") {
    height: $navbar-height-md;
  }
}

.mydoc-navbar-nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  .mydoc-nav-item {
    .mydoc-nav-link {
      display: block;
      padding-right: $navbar-link-padding-horizontal;
      padding-left: $navbar-link-padding-horizontal;
      padding-top: $navbar-link-padding-vertical;
      padding-bottom: $navbar-link-padding-vertical;
    }
  }
}


//
// Logo
//

.mydoc-navbar-brand {
  @include media(">md") {
    padding: $button-padding-vertical $button-padding-horizontal;
    margin-left: -$button-padding-horizontal;
  }

  @include iphone-x-landscape() {
    padding-left: env(safe-area-inset-left);
  }
}


//
// Middle menu
//

.mydoc-navbar-menu {
  .mydoc-nav-link {
    color: $color-text-medium;
  }

  .active .mydoc-nav-link {
    color: $color-text-darkest;
  }
}


//
// User menu
//

.mydoc-navbar-auth {
  display: flex;

  @include iphone-x-landscape() {
    padding-right: env(safe-area-inset-right);
  }
}