// Base style
//
// Each .tk-icon element is SVG

.tk-icon {
  width: 24px;
  height: 24px;
  margin-top: -2px;

  symbol {
    fill: currentColor;
  }
}


// Directional classes
//
// required for correct placement and margins

.tk-icon-left {
  margin-right: 16px;
  margin-left: -8px;
}

.tk-icon-right {
  margin-left: 16px;
  margin-right: -8px;
}