// 
// Form
// 

.mydoc-form-group {
  margin-bottom: 24px;

  label {
    font-weight: $font-weight-semibold;
    display: block;
    margin-bottom: 8px;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea,
  select {
    width: 100%;
    appearance: none;
    margin: 0;
    background-color: $form-control-bg;
    border: $form-control-border;
    border-radius: $form-control-border-radius;
    padding: $form-control-padding-vertical $form-control-padding-horizontal;
    font-size: $form-control-font-size;
    line-height: $form-control-line-height;
    -webkit-font-smoothing: antialiased;

    &::placeholder {
      color: $color-text-light;
    }
  }

  select {
    color: $color-text-medium;
    position: relative;

    background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMTEgMTQgNSA1IDUtNXoiIGZpbGw9IiMyMzMzZmYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) 50%;

    option {
      font-size: $small-font-size;
    }
  }
}

.mydoc-input-group {
  position: relative;

  &.prefixed-16 {
    input[type="text"],
    input[type="email"],
    textarea {
      padding-left: $form-control-padding-horizontal + 16px;
    }
  }

  &.prefixed-40 {
    input[type="text"],
    input[type="email"],
    textarea {
      padding-left: $form-control-padding-horizontal + 40px;
    }
  }

  .mydoc-form-prefix {
    height: 48px;
    line-height: 48px;
    position: absolute;
    padding-left: $form-control-padding-horizontal;
    color: $color-text-dark;
  }
}

.mydoc-form-validation {
  margin-bottom: 24px;
}