<footer class="footer">
  <div class="container">
    <div class="row">
      <nav class="mydoc-footer-nav col col-sm-6 col-md-3">
        <h4>MyDoc</h4>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/employers">Employers</a></li>
          <li><a href="/provider-sign-up">Providers</a></li>
          <li><a href="/">Case Study</a></li>
        </ul>
      </nav>
      <nav class="mydoc-footer-nav col col-sm-6 col-md-3">
        <h4>About</h4>
        <ul>
          <li><a href="/about">About Us</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="https://blog.my-doc.com/" rel="external">Blog</a></li>
          <li><a href="https://mydoc-pte-ltd.workable.com/" rel="external">Jobs</a></li>
        </ul>
      </nav>
      <nav class="mydoc-footer-nav col col-sm-6 col-md-3">
        <h4>Help</h4>
        <ul>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="http://support.my-doc.com/" rel="external">Help</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
        </ul>
      </nav>
      <nav class="mydoc-footer-nav col col-sm-6 col-md-3">
        <h4>Apps</h4>
        <ul>
          <li><a href="/about">Web App</a></li>
          <li><a href="https://itunes.apple.com/sg/app/mydoc/id614534298?mt=8" rel="external">Patient iOS</a></li>
          <li><a href="https://play.google.com/store/apps/details?id=com.andtechnology.mydoc&hl=en" rel="external">Patient Android</a></li>
          <li><a href="https://itunes.apple.com/sg/app/mydoc-pro/id614559449?mt=8" rel="external">Pro iOS</a></li>
          <li><a href="https://play.google.com/store/apps/details?id=com.mydoc.mydocpro&hl=en" rel="external">Pro Android</a></li>
        </ul>
      </nav>
    </div>
    <div class="gap row">
      <div class="col col-sm-6 col-md-9">
        <div class="social">
          <a href="https://www.facebook.com/simplifyhealthcare/" rel="external">
            <svg viewBox="0 0 32 32">
              <use xlink:href="#icon-facebook"></use>
            </svg>
          </a>
          <a href="https://www.linkedin.com/company/5362236/" rel="external">
            <svg viewBox="0 0 32 32">
              <use xlink:href="#icon-linkedin"></use>
            </svg>
          </a>
          <a href="https://www.youtube.com/channel/UCwlmG4_xd8Jwaz2ot3QnUvg" rel="external">
            <svg viewBox="0 0 32 32">
              <use xlink:href="#icon-youtube"></use>
            </svg>
          </a>
        </div>
        <div class="copyright">
          <p>&copy; MyDoc Pte. Ltd.</p>
        </div>
      </div>
      <div class="moh col col-sm-6 col-md-3">
        <a href="https://www.moh.gov.sg/our-healthcare-system/licensing-experimentation-and-adaptation-programme-(leap)---a-moh-regulatory-sandbox" rel="external">
          <img src="/img/moh-sandbox.png" srcset="/img/moh-sandbox.png 1x, /img/moh-sandbox@2x.png 2x, /img/moh-sandbox@3x.png 3x" alt="In a regulatory sandbox with Ministry of Health Singapore">
        </a>
      </div>
    </div>
  </div>
</footer>