<header>
 
  <nav class="mydoc-navbar">

    <a class="mydoc-navbar-brand" href="/">
      {{ partial "logo.html" . }}
    </a>

    <div class="mydoc-navbar-menu">
      <ul class="mydoc-navbar-nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="mydoc-nav-item{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
          <a class="mydoc-nav-link" href="{{ .URL }}">{{ .Label }}</a>
        </li>
        {{ end }}
      </ul>
    </div>

    <div class="mydoc-navbar-auth">
      <ul class="mydoc-navbar-nav">
        <li class="mydoc-nav-item">
          <a class="mydoc-btn mydoc-btn-sm primary" href="/contact"><span class="d-none d-inline-sm">Request a </span>demo</a>
        </li>
        <li class="mydoc-nav-item">
          <a class="mydoc-nav-link" href="/login">Login</a>
        </li>
      </ul>
    </div>

  </nav>

</header>