<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ $.Param "meta.description" }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ .Site.Params.title }} &ndash; {{ $.Param "long_title" }}</title>
  {{ $style := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
</head>

<body>

  {{ partial "inline-svg.html" . }}

  {{ partial "header.html" . }}

  <main>

    <section class="home-hero light">
      <div class="container">
        <div class="row">
          <div class="col col-sm-8 col-md-4 offset-md-1">
            <h1>{{ $.Param "content.sections.hero.headline" }}</h1>
            <p class="lead">{{ $.Param "content.sections.hero.subhead" }}</p>
            <a href="{{ $.Param "content.sections.hero.cta.url" }}" class="mydoc-btn primary">{{ $.Param "content.sections.hero.cta.label" }}</a>
          </div>
        </div>
      </div>
    </section>

    <section class="logo-soup">
      <div class="container">
        <p>{{ $.Param "content.sections.logo_soup.headline" }}</p>
        <div class="logos">
          <img class="logo" src="/svg/logos/logo-aetna.svg" alt="Aetna logo">
          <img class="logo" src="/svg/logos/logo-aia.svg" alt="AIA logo">
          <img class="logo" src="/svg/logos/logo-cigna.svg" alt="Cigna logo">
          <img class="logo" src="/img/logos/logo-cxa.png" srcset="/img/logos/logo-cxa@2x.png 2x, /img/logos/logo-cxa@3x.png 3x" alt="CXA logo">
        </div>
      </div>
    </section>

    <section class="creating-value light">
      <div class="container">
        <h2>{{ $.Param "content.sections.creating_value.headline" }}</h2>
        <p class="lead">{{ $.Param "content.sections.creating_value.subhead" }}</p>
        <div class="row row-stretched">
          {{ range $feature := $.Param "content.sections.creating_value.features" }}
          <div class="col col-sm-6 col-md-4 col-lg-3">
            <div class="feature-icon">
              <svg viewBox="0 0 32 32">
                <use xlink:href="#{{ $feature.icon }}"></use>
              </svg>
            </div>
            <h3>{{ $feature.headline }}</h3>
            <p>{{ $feature.body }}</p>
          </div>
          {{ end }}
        </div>
      </div>
    </section>

    <section class="one-platform">
      <div class="container">
        <h2>{{ $.Param "content.sections.one_platform.headline" }}</h2>
        <p class="lead">{{ $.Param "content.sections.one_platform.subhead" }}</p>
        <div class="mydoc-slider">
          <div  class="slides cycle-slideshow"
                data-cycle-slides=".mydoc-slide"
                data-cycle-pause-on-hover="true"
                data-cycle-prev=".mydoc-slider-nav.prev"
                data-cycle-next=".mydoc-slider-nav.next"
                data-cycle-pager=".mydoc-slider-pager"
                data-cycle-swipe="true">
            <div class="mydoc-slide">
              <div class="row">
                <div class="slide-screenshot col col-md-3 offset-md-1">
                  <img src="/img/screenshot-phone-container.png" srcset="/img/screenshot-phone-container@2x.png 2x, /img/screenshot-phone-container@3x.png 3x"
                    alt="screenshot">
                </div>
                <div class="slide-content col col-md-4 offset-md-1">
                  <h3>{{ $.Param "content.sections.one_platform.slides.slide_1.headline" }}</h3>
                  <p>{{ $.Param "content.sections.one_platform.slides.slide_1.body" }}</p>
                </div>
              </div>
            </div>
            <div class="mydoc-slide">
              <div class="row">
                <div class="slide-screenshot col col-md-3 offset-md-1">
                  <img src="/img/screenshot-phone-container.png" srcset="/img/screenshot-phone-container@2x.png 2x, /img/screenshot-phone-container@3x.png 3x"
                    alt="screenshot">
                </div>
                <div class="slide-content col col-md-4 offset-md-1">
                  <h3>{{ $.Param "content.sections.one_platform.slides.slide_2.headline" }}</h3>
                  <p>{{ $.Param "content.sections.one_platform.slides.slide_2.body" }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="mydoc-slider-pager"></div>
          <a href="#" class="mydoc-slider-nav prev">
            <svg viewBox="0 0 32 32">
              <use xlink:href="#icon-chevron-left"></use>
            </svg>
          </a>
          <a href="#" class="mydoc-slider-nav next">
            <svg viewBox="0 0 32 32">
              <use xlink:href="#icon-chevron-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </section>

    <section class="features-benefits light">
      <div class="container">
        <h2>{{ $.Param "content.sections.features_benefits.headline" }}</h2>
        <p class="lead">{{ $.Param "content.sections.features_benefits.subhead" }}</p>
        <div class="row row-stretched">
          {{ range $index, $feature := $.Param "content.sections.features_benefits.features" }}
          <div class="col col-sm-6 col-md-4 col-lg-3">
            <div class="feature-icon">
              <svg viewBox="0 0 32 32">
                <use xlink:href="#{{ $feature.icon }}"></use>
              </svg>
            </div>
            <h3>{{ $feature.headline }}</h3>
            <p>{{ $feature.body }}</p>
          </div>
          {{ if modBool (add $index 1) 3 }}<div class="break"></div>{{ end }}
          {{ end }}
        </div>
      </div>
    </section>

    <section class="common-ailments">
      <div class="wrapper">
        <div class="headline">
          <h3>{{ $.Param "content.sections.common_ailments.headline" }}</h3>
        </div>
        <div class="ailments-list">
          <div class="ailments-list-wrapper">
            {{ range $ailment := $.Param "content.sections.common_ailments.ailments" }}
            <span>{{ $ailment }}</span>
            {{ end }}
          </div>
        </div>
      </div>
    </section>

    <section class="want-to-use light">
      <div class="container">
        <h2>{{ $.Param "content.sections.want_to_use.headline" }}</h2>
        <p class="lead">{{ $.Param "content.sections.want_to_use.subhead" }}</p>
        <div class="row row-stretched">
          {{ range $index, $testimonial := $.Param "content.sections.want_to_use.testimonials" }}
          <div class="col col-sm-6 col-md-4">
            <img src="{{ $testimonial.photo }}.jpg" alt="{{ $testimonial.name }}" srcset="{{ $testimonial.photo }}.jpg 1x, {{ $testimonial.photo }}@2x.jpg 2x, {{ $testimonial.photo }}@2x.jpg 3x">
            <p>{{ $testimonial.quote }}</p>
            <p><strong>{{ $testimonial.name }},<br>{{ $testimonial.who }}</strong></p>
          </div>
          {{ if modBool (add $index 1) 3 }}<div class="break"></div>{{ end }}
          {{ end }}
        </div>
      </div>
    </section>

    <section class="research">
      <div class="container">
        <div class="row">
          <div class="col col-md-6 col-lg-5 offset-lg-1">
            <h2>{{ $.Param "content.sections.research.headline" }}</h2>
            <p class="lead">{{ $.Param "content.sections.research.subhead" }}</p>
          </div>
          <div class="col col-md-6 col-lg-4 offset-lg-1">
            {{ range $document := $.Param "content.sections.research.documents" }}
            <div class="research-document">
              <a href="{{ $document.url }}" class="clamped">{{ $document.label }}</a>
              <div class="document-logo">
                <img src="{{ $document.logo }}" alt="Logo">
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </section>

    <section class="cta light ">
      <div class="container">
        <h3>{{ $.Param "content.sections.cta.headline" }}</h3>
        <a href="{{ $.Param "content.sections.cta.btn.url" }}" class="mydoc-btn primary">{{ $.Param "content.sections.cta.btn.label" }}</a>
      </div>
    </section>

  </main>

  {{ partial "footer.html" . }}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  {{ $cycle := resources.Get "js/jquery.cycle2.js" }}
  {{ $cycle_swipe := resources.Get "js/jquery.cycle2.swipe.js" }}
  {{ $lity := resources.Get "js/lity.js" }}
  {{ $main := resources.Get "js/main.js" }}
  {{ $js := slice $cycle $cycle_swipe $lity $main | resources.Concat "js/bundle-all.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" type="text/javascript"></script>
</body>

</html>