<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ $.Param "meta.description" }}">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <title>{{ $.Param "long_title" }} &ndash; {{ .Site.Params.title }}</title>
    {{ $style := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
    <link href="{{ $style.RelPermalink }}" rel="stylesheet">
  </head>
  <body>

    {{ partial "inline-svg.html" . }}
  
    {{ partial "header.html" . }}

    <main>

      <section class="contact-info light">
        <div class="container">
          <h1>{{ $.Param "content.sections.contact_info.headline" }}</h1>
          <div class="row">
            <div class="col col-md-3 offset-md-1">
              <dl>
                <dt>User support</dt>
                <dd>
                  <a href="http://support.my-doc.com/">Visit support site</a>
                </dd>
                <dt>Jobs</dt>
                <dd>
                  <a href="https://mydoc-pte-ltd.workable.com/">View current openings</a>
                </dd>
                <dt>Join provider network</dt>
                <dd>
                  <a href="/providers">Register as provider</a>
                </dd>
              </dl>
            </div>
            <div class="col col-md-6">
              <form class="mydoc-form" id="contact-form" action="https://www.enformed.io/s2mazkc" method="POST">
                <div class="mydoc-form-group">
                  <label for="name">Name</label>
                  <input type="text" name="name" id="name" placeholder="Pixi">
                </div>
                <div class="mydoc-form-group">
                  <label for="email">Email</label>
                  <input type="text" name="email" id="email" placeholder="name@example.com">
                </div>
                <div class="mydoc-form-group">
                  <label for="message">Message</label>
                  <textarea name="message" id="message" rows="8" placeholder="Once a upon a time…"></textarea>
                </div>
                <input type="hidden" name="*default_email" value="{{ $.Param "content.sections.contact_info.form_to" }}">
                <input type="hidden" name="*honeypot">
                <div class="mydoc-form-validation"></div>
                <input class="mydoc-btn primary" type="submit" value="Send Message">
              </form>
            </div>
          </div>
        </div>
      </section>

      <section class="contact-map">
        <div class="container-fluid">
          <div class="row">
            <div class="map-info col col-md-6 offset-md-6">
              <div class="mydoc-card">
                <h3>{{ $.Param "content.sections.contact_info.map.headline" }}</h3>
                <p>{{ $.Param "content.sections.contact_info.map.address" | safeHTML }}</p>
                <div><a href="{{ $.Param "content.sections.contact_info.map.directions.url" }}">{{ $.Param "content.sections.contact_info.map.directions.label" }}</a></div>
              </div>
            </div>
          </div>
        </div>
        <iframe class="bg-map" src="https://snazzymaps.com/embed/122367" width="100%" height="100%" style="border:none;"></iframe>
      </section>

    </main>

    {{ partial "footer.html" . }}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    {{ $main := resources.Get "js/main.js" }}
    {{ $js := slice $main | resources.Concat "js/bundle-contact.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ $js.RelPermalink }}" type="text/javascript"></script>
  </body>
</html>